@model List<Faxai.Models.ProductModels.ProductViewModel>

<h2>Visos Prekės</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Pavadinimas</th>
            <th>Kaina</th>
            <th>Kiekis Sandėlyje</th>
            <th>Aprašymas</th>
            <th>Žemiausia</th>
            <!-- Papildomi stulpeliai pagal poreikį -->
        </tr>
    </thead>
    <tbody>
        @foreach (var preke in Model)
        {
            <tr>
                <td>@preke.ID</td>
                <td>@preke.Pavadinimas</td>
                <td>@preke.Kaina</td>
                <td>@preke.Kiekis_Sandelyje</td>
                <td>@preke.Aprasymas</td>
                <td>@preke.Zemiausia_Kaina_Per_10d</td>
                <!-- Papildomi stulpeliai pagal poreikį -->
            </tr>
        }
    </tbody>
</table>
