@model Faxai.Models.UserModels.UserModel

@{
    ViewData["Title"] = "Registruotis";
}

<div class="text-center">
    <h1 class="display-4">Registruotis</h1>
    @using (Html.BeginForm("Register", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Surname)
            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BirthDay)
            @Html.TextBoxFor(m => m.BirthDay, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Phone)
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BankAccount)
            @Html.TextBoxFor(m => m.BankAccount, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Newsletter)
            @Html.CheckBoxFor(m => m.Newsletter, new { @class = "form-check-input" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    }
</div>
