@using System.Web;
@model EmailTemplate
<style>
    .FormContainerStyle {
        width: 760px;
        border-radius: 8px; /* Adjust the border-radius as needed */
        border: 1px solid #ccc; /* Color for the border */
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow on the right side */
        padding: 20px; /* Padding for the content inside */
    }
</style>

<script src="https://cdn.tiny.cloud/1/apikey/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'EmailEditor',
        plugins: 'advlist autolink lists link image charmap print preview anchor',
        toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright | bullist numlist outdent indent | link image'
    });
</script>

<div class="FormContainerStyle">
    <form asp-action="SaveEmailTemplate" asp-controller="PageSystem" method="post">
        <input type="hidden" class="form-control" id="ID" name="ID" required value="@Model.ID">
        <div class="form-group" style="width:250px">
            <label for="Code">Kodas:</label>
            <input type="text" class="form-control" id="Code" name="Code" required value="@Model.Code">
        </div>
        <div class="form-group">
            <label for="Description">Aprašymas:</label>
            <textarea type="text" class="form-control" id="Description" name="Description" required>@Model.Description</textarea>
        </div>
        <div class="form-group">
            <label for="From">Nuo:</label>
            <input type="email" class="form-control" id="From" name="From" required value="@Model.From">
        </div>
        <div class="form-group">
            <label for="Title">Antratšė:</label>
            <input type="text" class="form-control" id="Title" name="Title" required value="@Model.Title">
        </div>
        <div class="form-group">
            <label for="Text">Turinys:</label>
            <EmailEditor type="text" class="form-control" id="Text" name="Text" required>@Html.Raw(Model.Text)</EmailEditor>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Įrašyti</button>
    </form>
</div>