@model IEnumerable<EmailTemplate>
@{
    ViewData["Title"] = "Laiškų šablonas";
}
<style>
    /* Tooltip styles */
    .tooltipVaTaip {
        border-radius: 8px; /* Adjust the border-radius as needed */
        border: 1px solid #ccc; /* Color for the border */
        padding: 5px;
    }

    .FormContainerStyle {
        width: 360px;
        border-radius: 8px; /* Adjust the border-radius as needed */
        border: 1px solid #ccc; /* Color for the border */
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow on the right side */
        padding: 20px; /* Padding for the content inside */
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Šioje vietoje bus kontroliuojami laiškų šablonai</p>
<table>
    <tr>
        <td>
            <div>
                @Html.Partial("EmailTemplatesInsertForm",ViewData["ActiveEmailTemplate"])
            </div>
        </td>
        <td>
            <div class="FormContainerStyle">
                <div class="tooltipVaTaip" style="display:none"></div>
            </div>
        </td>
    </tr>
</table>
<br />
<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Kodas</th>
            <th scope="col">Aprašymas</th>
            <th scope="col">Nuo</th>
            <th scope="col">Pavadinimas</th>
            <th scope="col">Turinys</th>
            <th scope="col">Veiksmas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mail in Model)
        {
            <tr>
                <td>
                    @mail.ID
                </td>
                <td>
                    @mail.Code
                </td>
                <td>
                    @mail.Description
                </td>
                <td>
                    @mail.From
                </td>
                <td>
                    @mail.Title
                </td>
                <td onmouseover="showTooltip(this)" onmouseout="hideTooltip(this)">
                    Šablonas
                    <div id="tooltip-content" style="display: none;">@Html.Raw(mail.Text)</div>
                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <form asp-controller="PageSystem" asp-action="UpdateEmail" method="post">
                                    <input type="hidden" name="id" value="@mail.ID" />
                                    <input type="hidden" name="Code" value="@mail.Code" />
                                    <input type="hidden" name="Title" value="@mail.Title" />
                                    <input type="hidden" name="Description" value="@mail.Description" />
                                    <input type="hidden" name="From" value="@mail.From" />
                                    <input type="hidden" name="Text" value="@mail.Text" />
                                    <button type="submit" class="btn btn-warning">Redaguoti</button>
                                </form>
                            </td>
                            <td>
                                <form asp-controller="PageSystem" asp-action="DeleteEmail" method="post">
                                    <input type="hidden" name="id" value="@mail.ID" />
                                    <button type="submit" class="btn btn-danger">Ištrinti</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function showTooltip(element) {
        var tooltipContent = element;
        var tooltip = document.querySelector('.tooltipVaTaip');
        tooltip.innerHTML = tooltipContent.childNodes[1].innerHTML;
        tooltip.style.display = 'block';
        tooltip.setAttribute('data-tooltip', 'active');
        // tooltip.style.top = (tooltipContent.clientHeight + 10 - tooltip.clientHeight) + 'px';
        // tooltip.style.left = (tooltipContent.clientWidth + 10 - tooltip.clientWidth) + 'px';
    }

    function hideTooltip(element) {
        var tooltip = document.querySelector('.tooltipVaTaip');
        tooltip.innerHTML = '';
        tooltip.style.display = 'none';
    }
</script>
