@*@{
    ViewData["Title"] = "Prekė";
}
<h1>@ViewData["Title"]</h1>

<p>Šioje skiltyje detali informacija apie konkrečią prekę</p>


<h1>Prekės atsiliepimai</h1>

<a class="btn btn-primary" asp-area="" asp-controller="Reviews" asp-action="CreateReviewForm">Palikti atsiliepimą</a>

@for (int i = 0; i < 3; i++)
{
    <div class="row, review-item">
        <div class="col-2">
            <p class="review-text">3.5 žvaigždutės</p>
        </div>
        <div class="col-4">
            <p class="review-text">Very nice product!</p>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" asp-area="" asp-controller="Reviews" asp-action="FullReview">...Daugiau</a>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" asp-area="" asp-controller="Reviews" asp-action="EditReviewForm">Redaguoti</a>
        </div>
        <div class="col-2">
            <a class="btn btn-dark" asp-area="" asp-controller="Reviews" asp-action="DeleteReviewForm">Ištrinti</a>
        </div>
    </div>
}

<a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="HomePage">Atgal</a>

*@
@model Faxai.Models.ProductModels.ProductViewModel

<h2>Detali prekės informacija</h2>

<div>
    <dl class="dl-horizontal">
        <dt>ID:</dt>
        <dd>@Model.ID</dd>

        <dt>Pavadinimas:</dt>
        <dd>@Model.Pavadinimas</dd>

        <dt>Kaina:</dt>
        <dd>@Model.Kaina</dd>

        <dt>Kiekis Sandėlyje:</dt>
        <dd>@Model.Kiekis_Sandelyje</dd>

        <dt>Aprašymas:</dt>
        <dd>@Model.Aprasymas</dd>

        <dt>Žemiausia Kaina Per 10d:</dt>
        <dd>@Model.Zemiausia_Kaina_Per_10d</dd>

        <!-- Papildomi stulpeliai pagal poreikį -->
    </dl>
</div>

<a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index">Atgal</a>
