@model Faxai.Models.ReviewModels.ReviewViewModel
@{
    ViewData["Title"] = "Atsiliepimas";
}

<h1>@ViewData["Title"]</h1>

<p>Šioje skiltyje detali informacija apie konkretų atsiliepimą</p>

@if (Model != null && Model.NewReview != null)
{
    <div class="row review-item">
        <div class="col-3">
            <p class="review-text">@Model.NewReview.AuthorName</p>
        </div>
        <div class="col-2">
            <p class="review-text">@Model.NewReview.Rating <i class="bi bi-star-fill"></i></p>
        </div>
        <div class="col-4">
            <p class="review-text">@Model.NewReview.Comment</p>
        </div>
        <div class="col-3">
            <p class="review-text">@Model.NewReview.CreationDate.ToString("MMMM dd")</p>
        </div>
    </div>
}

<a class="btn btn-dark" href="@Url.Action("Details", "Products", new { id = @Model.Product.ID })">Atgal į prekės aprašymą</a>